.background{ 
  background: url("../assets/img/thunder.jpg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  color: white;
}

.container-header{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 50px 0px 150px 0px;
  font-size: 50px;
}
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
