.container-main{
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  flex-direction: column;
  color: #333;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.components{
  /* border-style: solid;
  border-color: 1px black;
  border-radius: 10px; */
  left: 25%;
  padding: 0;
  /* margin: 0 auto; */
  position: absolute;
  z-index: 1;
  /* background: rgba(255, 255, 255, 0.7) */
  background: none;
  
}


/* Estilização Background e Nuvens*/

#background-wrap{
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: relative;
  right: 0;
  top: 0;
  z-index: 0;
}



@keyframes animateCloud{
  0%{margin-left: -1000px;}
  100%{margin-left: 100%;}

}

.x1
{
  margin-top: 50px;
  animation: animateCloud 35s linear infinite;
  transform: scale(0.65);
}

.x2
{
  animation: animateCloud 20s linear infinite;
  transform: scale(0.3);
}

.x3
{
  animation: animateCloud 30s linear infinite;
  transform: scale(0.5);
}

.x4
{
  animation: animateCloud 18s linear infinite;
  transform: scale(0.4);
}

.x5
{
  animation: animateCloud 25s linear infinite;
  transform: scale(0.55);
}

.cloud{
  background: white;
  background: linear-gradient(top, white 5%, #f1f1f1 100%);
  filter: 
  progid:DXImageTransform.Microsoft.gradient(startColorstr='white',endColorstr='#f1f1f1',
  GradientType=0);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after, .cloud:before{
  background: white;
  content: '';
  position: absolute;
  z-index: -1;
  
}

.cloud:after{
  border-radius: 100px;
  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;

}

.cloud:before{
  border-radius: 200px;
  height: 180px;
  width: 180px;
  right: 50px;
  top: -90px;
  
  
}