<section class="container-main">
  
  <div class="components">
    <h1 class="title">Clima Tempo</h1>

    <app-search></app-search>

    <app-temperature></app-temperature>
  </div> 
  <div id="background-warp">

    <div class="x1">
      <div class="cloud"></div>
    </div>

    <div class="x2">
      <div class="cloud"></div>
    </div>

    <div class="x3">
      <div class="cloud"></div>
    </div>

    <div class="x4">
      <div class="cloud"></div>
    </div>

    <div class="x5">
      
      <div class="cloud"></div>
    </div>      
  
  </div>
  

</section>