@font-face {
    src: url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');
    font-family: 'Comfortaa', cursive;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
  }