.container-search{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.search{
    background: none;
    border: none;
    border-bottom: 2px solid white;
    margin-right: 20px;
    width: 100%;
    font-size: 30px;
    color: white;
    padding: 10px;
}
::placeholder{
    color: white;
    opacity: 50%;
    
}

.stylebutton{
    padding: 10px;
    border-radius: 10%;
    height: 15%;

}