.container{
    margin: 15% 5% 5% 5%;

}

h1{
    text-align: center;

}

.locale{
    line-height: 2;
    display: flex;

}

.locale h4{
    margin-right: 30px;
}

.info{
    display: flex;
    line-height: 2;
}

.info h3{
    margin-right: 30px;
}
    
.title {
    margin-top: 0;

}
