<div class="container">
  <div>
    <img src="" alt="">

    <div class="locale">
      <section class="center">
        <h1>20°</h1>
        <h2>São Paulo,SP</h2>
      </section>
      <!--<h4>País</h4> -->
    </div>

    <div class="info">
      <ul>
        <li>
          <h3>Velocidade do Vento</h3>
        </li>
        <li>
          <h3>Humidade relativa</h3>
        </li>
      </ul>


    </div>

  </div>
  <div>
    <div class="Semana">Segunda<span> 24º</span><span> 17º</span><span > 0 mm</span></div>
    <br/>
    <div class="Semana">Terça<span> 24º</span><span> 17º</span><span > 0 mm</span></div>
    <br/>
    <div class="Semana">Quarta<span> 24º</span><span> 17º</span><span > 0 mm</span></div>
    <br/>
    <div class="Semana">Quinta<span> 24º</span><span> 17º</span><span > 0 mm</span></div>
    <br/>
    <div class="Semana">Sexta<span> 24º</span><span> 17º</span><span > 0 mm</span></div>
    <br/>
    <div class="Semana">Sabado<span> 24º</span><span> 17º</span><span > 0 mm</span></div>
    <br/>
    <div class="Semana">Domingo<span> 24º</span><span> 17º</span><span > 0 mm</span></div>
  </div>
</div>